## Famma-French三因子模型

### FF基本形式
Famma-French模型认为投资组合的收益率是由市场因子、市值（Market Value）因子和账面市值比（BooK to Market Value,B/M ）因子共同决定。三个因子分别对应着三个投资组合的收益率：市场因子对应市场投资组合的收益率，市值因子对应的的做多市值较小的公式、做空市值较大的公司的投资组合收益率，账面市值比因子对应的是做多高B/M公司、做空低B/M公司的投资组合收益率。模型的形式如下：
$$E(R_{it})-R_{ft}=b_{i}[E(R_{mt})-R_{ft}] + s_{i}E(SMB_{t})+h_{i}E(HML_{t})$$ 
其中SMB(Small Minus Big)为市值因子，HML(High Minus Low)代表账面市值比因子，$R_{m}$为市场投资组合收益率。FF三因子模型认为如果投资组合的收益率可以由三个因子完全解，那么超额收益率为0.

然而现实中，实证结果证明投资组合的收益率往往并不能够由三因子模型完全解释。因此实证中通常采用的形式为
$$R_{it}-R_{ft}=\alpha_{i} + b_{i}[R_{mt}-R_{ft})] + s_{i}SMB_{t}+h_{i}HML_{t}+\epsilon_{it}$$
其中$\alpha_{i}$为超额收益。

#### Step1：根据市值

将股票池中的所有股票按照市值从小到大排列，将低于中位数的定义为samll组，高于中位数的定义为Big组。

#### Step2：根据账面市值比

将股票池中的所有股票按照账面价值比从低到高排列，将排在前30%的划分为Low组，中间40%为Medium组，后30%为High组

在Fama和French的文章中，他们用每年六月末的股票市值和每年年末的帐市比作为分类依据，因为六月末是美国股市要求披露年报的日期，而年末时间节点的选择是因为我们整个研究是以一个自然年为分组依据。当然在A股的研究中，因为4月是我们年报的披露截止时间，所以在研究中一般会针对市场情况，对时间节点进行调整。

假如我们要用三因子模型研究沪深300，那么首先我们依据每年4月底的300只股票的市值进行排序，分位值定位50%，也就是说一半小盘股（S）和一半大盘股(B)。然后依据年末的帐市比数据把股票分为三类，30%的高价值（H）、40%的中等价值（M）和30%的低价值(L).另外由于我们的研究往往依据多年数据，而上市公司的股票表现都是不断变化的，因此我们需要每十二个月对分组进行一次调整。

In [1]:
import numpy as np
import pandas as pd
import datetime
import time
from jqdata import *

In [2]:
#月初取出因子数值
def get_factors(fdate,factors):
    stock_set = get_index_stocks('000001.XSHG',fdate) # 000001.XSHE是上证指数
    q = query(
        valuation.code,
        balance.total_owner_equities/valuation.market_cap/100000000,
        #balance.total_owner_equities,#资产负债表数据
        #total_owner_equities 指股本、资本公积、盈余公积、未分配利润的之和，
        #代表了股东对企业的所有权，反映了股东在企业资产中享有的经济利益。
        valuation.market_cap, #总市值
        valuation.circulating_market_cap #流通股市值
        ).filter(
        valuation.code.in_(stock_set),
        #valuation.circulating_market_cap
    )
    fdf = get_fundamentals(q, date=fdate)
    fdf.index = fdf['code']
    fdf.columns = ['code'] + factors
    return fdf.iloc[:,-len(factors):]

In [3]:
factors = ['B/M','MARKET_CAP', 'CMV']
fdf = get_factors('2015-04-30',factors)
fdf.head()

                  B/M  MARKET_CAP        CMV
code
600000.XSHG  0.856574   3370.6824  2696.5459
600004.XSHG  0.534592    171.5800   171.5800
600005.XSHG  0.567502    651.0488   651.0488
600006.XSHG  0.514272    156.0000   156.0000
600007.XSHG  0.295437    182.0160   182.0160

匿名函数lambda：是指一类无需定义标识符（函数名）的函数或子程序。所谓匿名函数，通俗地说就是没有名字的函数，lambda函数没有名字，是一种简单的、在同一行中定义函数的方法。

- lambda函数一般功能简单：单行expression决定了lambda函数不可能完成复杂的逻辑，只能完成非常简单的功能。由于其实现的功能一目了然，甚至不需要专门的名字来说明。

- lambda 函数可以接收任意多个参数 (包括可选参数) 并且返回单个表达式的值。

- lambda表达式只允许包含一个表达式，不能包含复杂语句，该表达式的运算结果就是函数的返回值。

lambda表达式的基本语法如下：

- lambda arg1,arg2,arg3… :<表达式>

- arg1/arg2/arg3为函数的参数（函数输入），表达式相当于函数体，运算结果是表达式的运算结果。

In [4]:
#测试lambda函数
f=lambda a,b,c,d:a*b*c*d
print(f(1,2,3,4))  #相当于下面这个函数

def test01(a,b,c,d):
    return a*b*c*d
print(test01(1,2,3,4))

24
24

部分Python内置函数接受函数作为参数,典型的此类内置函数有这些:

- filter函数 此时lambda函数用于指定过滤列表元素的条件。例如filter(lambda x: x % 3 == 0, [1, 2, 3])指定将列表[1,2,3]中能够被3整除的元素过滤出来，其结果是[3]。

- sorted函数 此时lambda函数用于指定对列表中所有元素进行排序的准则。例如sorted([1, 2, 3, 4, 5, 6, 7, 8, 9], key=lambda x: abs(5-x))将列表[1, 2, 3, 4, 5, 6, 7, 8, 9]按照元素与5距离从小到大进行排序，其结果是[5, 4, 6, 3, 7, 2, 8, 1, 9]。

- map函数 此时lambda函数用于指定对列表中每一个元素的共同操作。例如map(lambda x: x+1, [1, 2,3])将列表[1, 2, 3]中的元素分别加1，其结果[2, 3, 4]。

- reduce函数 此时lambda函数用于指定列表中两两相邻元素的结合条件。例如reduce(lambda a, b: '{}, {}'.format(a, b), [1, 2, 3, 4, 5, 6, 7, 8, 9])将列表 [1, 2, 3, 4, 5, 6, 7, 8, 9]中的元素从左往右两两以逗号分隔的字符的形式依次结合起来，其结果是'1, 2, 3, 4, 5, 6, 7, 8, 9'。

In [99]:
'''因为lambda是匿名函数，map和lambda结合起来使用，代码更加简洁:
求列表list_x = [1, 2, 3, 4, 5, 6, 7, 8]，每项的平方'''
list_x = [1, 2, 3, 4, 5, 6, 7, 8]
r = map(lambda x:x*x,list_x)
print(list(r))

[1, 4, 9, 16, 25, 36, 49, 64]

In [100]:
# map 是 pandas series 的属性
# import pandas as pd
pd.Series(list_x).map(lambda x:x*x)

0     1
1     4
2     9
3    16
4    25
5    36
6    49
7    64
dtype: int64

In [5]:
# Note that .map can only apply to Series，not dataframe, so we use fdf['MARKET_CAP'], 
# not fdf[['MARKET_CAP']]
# 按市值大小划分
fdf['SB'] = fdf['MARKET_CAP'].map(lambda x: 'B' if \
                                  x >= fdf['MARKET_CAP'].median() else 'S')

In [6]:
fdf.head()

                  B/M  MARKET_CAP        CMV SB
code
600000.XSHG  0.856574   3370.6824  2696.5459  B
600004.XSHG  0.534592    171.5800   171.5800  B
600005.XSHG  0.567502    651.0488   651.0488  B
600006.XSHG  0.514272    156.0000   156.0000  B
600007.XSHG  0.295437    182.0160   182.0160  B

与Python中的列表类似，可以使用for循环遍历DataFrame或Series，但是这样做(尤其是在大型数据集上)非常慢。Pandas中提供了一个高效的替代方案：apply()方法。

- DataFrame.apply(func, axis)

- Series.apply(func, axis)

In [102]:
df=pd.DataFrame(np.random.randn(4,3),columns=list('bde'),\
                index=['utah','ohio','texas','oregon'])
print(df)

#将函数应用到由各列或行形成的一维数组上。DataFrame的apply方法可以实现此功能
f=lambda x:x.max()-x.min()
#默认情况下会以列为单位，分别对列应用函数
t1=df.apply(f)
print(t1)
t2=df.apply(f,axis=1)
print(t2)

               b         d         e
utah   -1.409926 -0.717322 -2.628604
ohio    1.611696  1.472424 -0.737575
texas   0.932880  0.266641  0.131721
oregon  0.908448 -0.848910  0.134432
b    3.021621
d    2.321334
e    2.763036
dtype: float64
utah      1.911281
ohio      2.349271
texas     0.801159
oregon    1.757358
dtype: float64

In [14]:
# 划分高、中、低账面市值比公司
border_down, border_up = fdf['B/M'].quantile([0.3, 0.7])
#border_down, border_up
fdf['HML'] = fdf['B/M'].map(lambda x: 'H' if x >= border_up else 'M')
fdf['HML'] = fdf.apply(lambda row: 'L' if row['B/M'] <= border_down else row['HML'],\
                       axis=1)

In [199]:
fdf.head()

                  B/M  MARKET_CAP        CMV SB HML
code
600000.XSHG  0.856574   3370.6824  2696.5459  B   H
600004.XSHG  0.534592    171.5800   171.5800  B   H
600005.XSHG  0.567502    651.0488   651.0488  B   H
600006.XSHG  0.514272    156.0000   156.0000  B   H
600007.XSHG  0.295437    182.0160   182.0160  B   M

#### Step3:  综合划分

根据Step1和Step2的结果，可以将得到6组投资组合：S/L，S/M，S/H，B/L，B/M，B/H,其中第一个字母代表市值比组别，第二个字母代表账面市值比组别。另外由于我们的研究往往依据多年数据，而上市公司的股票表现都是不断变化的，因此我们需要每十二个月对分组进行一次调整。

In [15]:
# 组合划分为6组
fdf_SL = fdf.query('(SB=="S") & (HML=="L")')
fdf_SM = fdf.query('(SB=="S") & (HML=="M")')
fdf_SH = fdf.query('(SB=="S") & (HML=="H")')
fdf_BL = fdf.query('(SB=="B") & (HML=="L")')
fdf_BM = fdf.query('(SB=="B") & (HML=="M")')
fdf_BH = fdf.query('(SB=="B") & (HML=="H")')

In [107]:
type(fdf_SL.index)

pandas.core.indexes.base.Index

#### Step4: 计算投资组合收益率
每个投资组合的收益率是组合中所有股票收益率的加权平均和，以B/M组为例
$$BM_{t} = \Sigma_{k=1}^{K}\frac{M_{kt}}{\Sigma_{k=1}^{K}M_{kt}}R_{kt}$$
其中$K$为组合中的股票数量，$M_{kt}$为单只股票的市场价值，$R_{kt}$为组合中单只股票的收益率。

In [9]:
def caculate_port_return(port,startdate,enddate,nextdate,CMV):
    date_list1 = get_trade_days(start_date=startdate,end_date=enddate)
    date_list2 = get_trade_days(start_date=enddate,  end_date=nextdate)
    close1     = get_price(port, date_list1[0], date_list1[-1], 'daily', ['close'], \
                           panel=False)
    close1_m   = close1.loc[close1.time ==date_list1[0].strftime('%Y-%m-%d'),:]
    close2     = get_price(port, date_list2[0], date_list2[-1], 'daily',['close'],\
                           panel=False)
    close2_m   = close2.loc[close2.time ==date_list2[0].strftime('%Y-%m-%d'),:]
    CMV        = CMV.reset_index(drop=True)
    m_return   = close2_m['close'].reset_index(drop=True)/\
                  close1_m['close'].reset_index(drop=True)-1
    weighted_m_return = (m_return*CMV).sum()/(CMV.sum())
    #((close2_m['close'].reset_index(drop=True)/close1_m['close'].reset_index(drop=True)-1)*CMV)).sum()/(CMV.sum()) 
    return weighted_m_return

In [229]:
SL_t = caculate_port_return(fdf_SL.index.tolist(),\
                            '2015-06-01','2015-07-01','2015-08-01',fdf_SL['CMV'])
SL_t

-0.18951292792229663

In [4]:
startdate = '2015-06-01'
enddate   = '2015-07-01'
nextdate  = '2015-08-01'

In [9]:
date_list1 = get_trade_days(start_date=startdate,end_date=enddate)
date_list2 = get_trade_days(start_date=enddate,  end_date=nextdate)

In [11]:
date_list2

array([2015-07-01, 2015-07-02, 2015-07-03, 2015-07-06, 2015-07-07,
       2015-07-08, 2015-07-09, 2015-07-10, 2015-07-13, 2015-07-14,
       2015-07-15, 2015-07-16, 2015-07-17, 2015-07-20, 2015-07-21,
       2015-07-22, 2015-07-23, 2015-07-24, 2015-07-27, 2015-07-28,
       2015-07-29, 2015-07-30, 2015-07-31], dtype=object)

In [16]:
close1=get_price(fdf_SL.index.tolist(), date_list1[0], date_list1[-1], 'daily', ['close'],\
                           panel=False)

In [17]:
close1

           time         code  close
0    2015-06-01  600053.XSHG  12.49
1    2015-06-02  600053.XSHG  12.49
2    2015-06-03  600053.XSHG  12.49
3    2015-06-04  600053.XSHG  12.49
4    2015-06-05  600053.XSHG  12.49
5    2015-06-08  600053.XSHG  12.49
6    2015-06-09  600053.XSHG  12.49
7    2015-06-10  600053.XSHG  12.49
8    2015-06-11  600053.XSHG  12.49
9    2015-06-12  600053.XSHG  12.49
10   2015-06-15  600053.XSHG  12.49
11   2015-06-16  600053.XSHG  12.49
12   2015-06-17  600053.XSHG  12.49
13   2015-06-18  600053.XSHG  12.49
14   2015-06-19  600053.XSHG  12.49
15   2015-06-23  600053.XSHG  12.49
16   2015-06-24  600053.XSHG  12.49
17   2015-06-25  600053.XSHG  12.49
18   2015-06-26  600053.XSHG  12.49
19   2015-06-29  600053.XSHG  12.49
20   2015-06-30  600053.XSHG  12.49
21   2015-07-01  600053.XSHG  12.49
22   2015-06-01  600055.XSHG  23.23
23   2015-06-02  600055.XSHG  23.23
24   2015-06-03  600055.XSHG  23.23
25   2015-06-04  600055.XSHG  23.23
26   2015-06-05  600055.XSHG  23.23
27   2015-06-08  600055.XSHG  25.55
28   2015-06-09  600055.XSHG  28.11
29   2015-06-10  600055.XSHG  30.92
...         ...          ...    ...
3974 2015-06-19  603997.XSHG  17.52
3975 2015-06-23  603997.XSHG  18.31
3976 2015-06-24  603997.XSHG  18.65
3977 2015-06-25  603997.XSHG  17.36
3978 2015-06-26  603997.XSHG  15.62
3979 2015-06-29  603997.XSHG  14.06
3980 2015-06-30  603997.XSHG  15.27
3981 2015-07-01  603997.XSHG  14.14
3982 2015-06-01  603998.XSHG  21.48
3983 2015-06-02  603998.XSHG  21.48
3984 2015-06-03  603998.XSHG  21.48
3985 2015-06-04  603998.XSHG  21.48
3986 2015-06-05  603998.XSHG  21.48
3987 2015-06-08  603998.XSHG  21.48
3988 2015-06-09  603998.XSHG  21.48
3989 2015-06-10  603998.XSHG  21.48
3990 2015-06-11  603998.XSHG  21.48
3991 2015-06-12  603998.XSHG  21.48
3992 2015-06-15  603998.XSHG  21.48
3993 2015-06-16  603998.XSHG  21.48
3994 2015-06-17  603998.XSHG  21.48
3995 2015-06-18  603998.XSHG  21.48
3996 2015-06-19  603998.XSHG  21.48
3997 2015-06-23  603998.XSHG  21.48
3998 2015-06-24  603998.XSHG  21.48
3999 2015-06-25  603998.XSHG  21.48
4000 2015-06-26  603998.XSHG  21.48
4001 2015-06-29  603998.XSHG  21.48
4002 2015-06-30  603998.XSHG  21.48
4003 2015-07-01  603998.XSHG  19.33

[4004 rows x 3 columns]

In [18]:
close1_m   = close1.loc[close1.time ==date_list1[0].strftime('%Y-%m-%d'),:]

In [19]:
close1_m

           time         code   close
0    2015-06-01  600053.XSHG   12.49
22   2015-06-01  600055.XSHG   23.23
44   2015-06-01  600069.XSHG    5.40
66   2015-06-01  600071.XSHG   29.02
88   2015-06-01  600072.XSHG   39.39
110  2015-06-01  600076.XSHG   14.62
132  2015-06-01  600083.XSHG   14.16
154  2015-06-01  600088.XSHG   39.12
176  2015-06-01  600090.XSHG   23.23
198  2015-06-01  600091.XSHG   15.20
220  2015-06-01  600093.XSHG   23.65
242  2015-06-01  600095.XSHG   15.09
264  2015-06-01  600099.XSHG   13.33
286  2015-06-01  600107.XSHG   18.32
308  2015-06-01  600113.XSHG   15.62
330  2015-06-01  600119.XSHG   32.64
352  2015-06-01  600130.XSHG   14.15
374  2015-06-01  600131.XSHG   10.59
396  2015-06-01  600135.XSHG   28.96
418  2015-06-01  600145.XSHG    6.66
440  2015-06-01  600146.XSHG   36.73
462  2015-06-01  600148.XSHG   30.47
484  2015-06-01  600149.XSHG   21.59
506  2015-06-01  600155.XSHG   14.93
528  2015-06-01  600156.XSHG   13.42
550  2015-06-01  600163.XSHG    9.07
572  2015-06-01  600165.XSHG   10.76
594  2015-06-01  600179.XSHG   16.42
616  2015-06-01  600184.XSHG   39.49
638  2015-06-01  600186.XSHG   10.46
...         ...          ...     ...
3344 2015-06-01  600990.XSHG  137.64
3366 2015-06-01  601268.XSHG     NaN
3388 2015-06-01  603003.XSHG   41.58
3410 2015-06-01  603006.XSHG   24.41
3432 2015-06-01  603009.XSHG   20.62
3454 2015-06-01  603011.XSHG   13.06
3476 2015-06-01  603017.XSHG   31.43
3498 2015-06-01  603030.XSHG   19.58
3520 2015-06-01  603088.XSHG   30.95
3542 2015-06-01  603099.XSHG   30.93
3564 2015-06-01  603111.XSHG   15.03
3586 2015-06-01  603128.XSHG   15.33
3608 2015-06-01  603166.XSHG   30.53
3630 2015-06-01  603168.XSHG   47.30
3652 2015-06-01  603222.XSHG   23.79
3674 2015-06-01  603309.XSHG   41.77
3696 2015-06-01  603338.XSHG   25.93
3718 2015-06-01  603368.XSHG   57.04
3740 2015-06-01  603588.XSHG   22.70
3762 2015-06-01  603600.XSHG   32.69
3784 2015-06-01  603601.XSHG   12.25
3806 2015-06-01  603606.XSHG   18.20
3828 2015-06-01  603636.XSHG   20.28
3850 2015-06-01  603729.XSHG  107.26
3872 2015-06-01  603788.XSHG   33.54
3894 2015-06-01  603869.XSHG   29.66
3916 2015-06-01  603898.XSHG   36.58
3938 2015-06-01  603988.XSHG   22.13
3960 2015-06-01  603997.XSHG   25.31
3982 2015-06-01  603998.XSHG   21.48

[182 rows x 3 columns]

In [20]:
close2=get_price(fdf_SL.index.tolist(), date_list2[0], date_list2[-1], 'daily',['close'],\
                           panel=False)
close2_m   = close2.loc[close2.time ==date_list2[0].strftime('%Y-%m-%d'),:]

In [21]:
close2_m

           time         code  close
0    2015-07-01  600053.XSHG  12.49
23   2015-07-01  600055.XSHG  19.73
46   2015-07-01  600069.XSHG   4.97
69   2015-07-01  600071.XSHG  22.81
92   2015-07-01  600072.XSHG  25.84
115  2015-07-01  600076.XSHG  11.02
138  2015-07-01  600083.XSHG  13.59
161  2015-07-01  600088.XSHG  24.43
184  2015-07-01  600090.XSHG  16.40
207  2015-07-01  600091.XSHG  12.83
230  2015-07-01  600093.XSHG  15.54
253  2015-07-01  600095.XSHG  11.83
276  2015-07-01  600099.XSHG  13.33
299  2015-07-01  600107.XSHG  13.23
322  2015-07-01  600113.XSHG  16.02
345  2015-07-01  600119.XSHG  20.68
368  2015-07-01  600130.XSHG  15.94
391  2015-07-01  600131.XSHG   9.58
414  2015-07-01  600135.XSHG  17.90
437  2015-07-01  600145.XSHG   6.66
460  2015-07-01  600146.XSHG  29.51
483  2015-07-01  600148.XSHG  21.54
506  2015-07-01  600149.XSHG  19.11
529  2015-07-01  600155.XSHG  14.93
552  2015-07-01  600156.XSHG  11.49
575  2015-07-01  600163.XSHG   7.76
598  2015-07-01  600165.XSHG   8.46
621  2015-07-01  600179.XSHG  11.08
644  2015-07-01  600184.XSHG  25.11
667  2015-07-01  600186.XSHG  10.46
...         ...          ...    ...
3496 2015-07-01  600990.XSHG  93.49
3519 2015-07-01  601268.XSHG    NaN
3542 2015-07-01  603003.XSHG  26.69
3565 2015-07-01  603006.XSHG  22.93
3588 2015-07-01  603009.XSHG  13.00
3611 2015-07-01  603011.XSHG  13.06
3634 2015-07-01  603017.XSHG  27.44
3657 2015-07-01  603030.XSHG  10.11
3680 2015-07-01  603088.XSHG  20.65
3703 2015-07-01  603099.XSHG  18.08
3726 2015-07-01  603111.XSHG  15.03
3749 2015-07-01  603128.XSHG  10.25
3772 2015-07-01  603166.XSHG  28.49
3795 2015-07-01  603168.XSHG  28.13
3818 2015-07-01  603222.XSHG  14.64
3841 2015-07-01  603309.XSHG  26.56
3864 2015-07-01  603338.XSHG  25.61
3887 2015-07-01  603368.XSHG  39.04
3910 2015-07-01  603588.XSHG  16.83
3933 2015-07-01  603600.XSHG  35.33
3956 2015-07-01  603601.XSHG   5.81
3979 2015-07-01  603606.XSHG  10.30
4002 2015-07-01  603636.XSHG  11.59
4025 2015-07-01  603729.XSHG  65.63
4048 2015-07-01  603788.XSHG  24.56
4071 2015-07-01  603869.XSHG  15.56
4094 2015-07-01  603898.XSHG  43.72
4117 2015-07-01  603988.XSHG  18.89
4140 2015-07-01  603997.XSHG  14.14
4163 2015-07-01  603998.XSHG  19.33

[182 rows x 3 columns]

In [22]:
CMV = fdf_SL['CMV'].reset_index(drop=True)

In [23]:
m_return   = close2_m['close'].reset_index(drop=True)/\
close1_m['close'].reset_index(drop=True)-1

In [24]:
weighted_m_return = (m_return*CMV).sum()/(CMV.sum())
weighted_m_return

-0.18951292792229663

In [187]:
# 计算各组收益率
SL_t = caculate_port_return(fdf_SL.index.tolist(),'2015-06-01','2015-07-01','2015-08-01',\
                            fdf_SL['CMV'])
SM_t = caculate_port_return(fdf_SM.index.tolist(),'2015-06-01','2015-07-01','2015-08-01',\
                            fdf_SM['CMV'])
SH_t = caculate_port_return(fdf_SH.index.tolist(),'2015-06-01','2015-07-01','2015-08-01',\
                            fdf_SH['CMV'])

In [188]:
BL_t = caculate_port_return(fdf_BL.index.tolist(),'2015-06-01','2015-07-01','2015-08-01',\
                            fdf_BL['CMV'])
BM_t = caculate_port_return(fdf_BM.index.tolist(),'2015-06-01','2015-07-01','2015-08-01',\
                            fdf_BM['CMV'])
BH_t = caculate_port_return(fdf_BH.index.tolist(),'2015-06-01','2015-07-01','2015-08-01',\
                            fdf_BH['CMV'])

#### Step5：计算SMB和HML

$$SMB_{t} = \frac{1}{3}(SL_{t}+SM_{t}+SH_{t})-\frac{1}{3}(BL_{t}+BM_{t}+BH_{t})$$
$$HML_{t} = \frac{1}{2}(SL_{t}+BL_{t})-\frac{1}{2}(SH_{t}+BH_{t}).$$

In [189]:
SMB_t = (SL_t + SM_t + SH_t)/3 - (BL_t + BM_t + BH_t)/3
HML_t = (SL_t + BL_t)/2    - (SH_t + BH_t)/2

## 单个因子的使用

In [5]:
score = fdf['CMV'].sort_values()
score.head()

code
603010.XSHG    6.6200
603009.XSHG    7.4729
603268.XSHG    7.4976
603519.XSHG    7.7000
603601.XSHG    8.6564
Name: CMV, dtype: float64

In [6]:
len_5 = int(len(score)/5)
port1 = list(score.index)[: len_5]
port2 = list(score.index)[ len_5: 2*len_5]
port3 = list(score.index)[ 2*len_5: -2*len_5]
port4 = list(score.index)[ -2*len_5: -len_5]
port5 = list(score.index)[ -len_5: ]

In [7]:
def caculate_benchmark_return(port,startdate,enddate,nextdate):
    date_list1 = get_trade_days(start_date=startdate,end_date=enddate)
    date_list2 = get_trade_days(start_date=enddate,  end_date=nextdate)
    close1     = get_price(port, date_list1[0], date_list1[-1], 'daily', ['close'], \
                           panel=False)
    close1_m   = close1.loc[close1.time ==date_list1[0].strftime('%Y-%m-%d'),:]
    close2     = get_price(port, date_list2[0], date_list2[-1], 'daily',['close'],\
                           panel=False)
    close2_m   = close2.loc[close2.time ==date_list2[0].strftime('%Y-%m-%d'),:]
    m_return   = close2_m['close'].reset_index(drop=True)/\
                  close1_m['close'].reset_index(drop=True)-1
    weighted_m_return = m_return.sum()
    return weighted_m_return

计算不同市值类的股票月收益率

In [10]:
df = {}
CMV = fdf['CMV']
benchmark_return = caculate_benchmark_return(['000001.XSHG'],startdate,enddate,nextdate)
df['port1'] = caculate_port_return(port1,startdate,enddate,nextdate,CMV)
df['port2'] = caculate_port_return(port2,startdate,enddate,nextdate,CMV)
df['port3'] = caculate_port_return(port3,startdate,enddate,nextdate,CMV)
df['port4'] = caculate_port_return(port4,startdate,enddate,nextdate,CMV)
df['port5'] = caculate_port_return(port5,startdate,enddate,nextdate,CMV)
print(pd.Series(df))
print('benchmark_return %s'%benchmark_return)

port1   -0.047702
port2   -0.028474
port3   -0.037784
port4   -0.036370
port5   -0.048579
dtype: float64
benchmark_return -0.16050563915224259

我们考察一个简单的投资策略，就是按市值每月调仓，一直持有固定市值大小分类的股票。注意：1）我们取得是startdate前一天的市值数据，因为我们定义startdate为每月一号，所以用来分隔股票池的上月市值；2）我们计算的收益率是本月收益率。

In [21]:
factors = ['B/M','MARKET_CAP', 'CMV']

#因为研究模块取fundmental数据默认date为研究日期的前一天。所以要自备时间序列。按月取
year = ['2009','2010','2011','2012','2013','2014','2015']
month = ['01','02','03','04','05','06','07','08','09','10','11','12']
result = {}

for i in range(7*12):
    startdate = year[i//12] + '-' + month[i%12] + '-01'
    try:
        enddate = year[(i+1)//12] + '-' + month[(i+1)%12] + '-01'
    except IndexError:
        enddate = '2016-01-01'
    try:
        nextdate = year[(i+2)//12] + '-' + month[(i+2)%12] + '-01'
    except IndexError:
        if enddate == '2016-01-01':
            nextdate = '2016-02-01'
        else:
            nextdate = '2016-01-01'
    print('time %s'%startdate)
    fdf = get_factors(startdate,factors)
    CMV = fdf['CMV']
    #5个组合，一个benchmark, 3个因子
    df = pd.DataFrame(np.zeros(6*len(factors)).reshape(6,len(factors)),\
                   index = ['port1','port2','port3','port4','port5','benchmark'],\
                   columns = factors)
    for fac in factors:
        score = fdf[fac].sort_values()
        len_5 = int(len(score)/5)
        port1 = list(score.index)[: len_5]
        port2 = list(score.index)[ len_5: 2*len_5]
        port3 = list(score.index)[ 2*len_5: -2*len_5]
        port4 = list(score.index)[ -2*len_5: -len_5]
        port5 = list(score.index)[ -len_5: ]
        df.loc['port1',fac] = caculate_port_return(port1,startdate,enddate,nextdate,CMV)
        df.loc['port2',fac] = caculate_port_return(port2,startdate,enddate,nextdate,CMV)
        df.loc['port3',fac] = caculate_port_return(port3,startdate,enddate,nextdate,CMV)
        df.loc['port4',fac] = caculate_port_return(port4,startdate,enddate,nextdate,CMV)
        df.loc['port5',fac] = caculate_port_return(port5,startdate,enddate,nextdate,CMV)
        df.loc['benchmark',fac] = caculate_benchmark_return(['000001.XSHG'],startdate,\
                                                            enddate,nextdate)
        print('factor %s'%fac)
    result[startdate] = df
#monthly_return = pd.Panel(result)

time 2009-01-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-02-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-03-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-04-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-05-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-06-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-07-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-08-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-09-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-10-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-11-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-12-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-01-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-02-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-03-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-04-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-05-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-06-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-07-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-08-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-09-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-10-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-11-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-12-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-01-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-02-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-03-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-04-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-05-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-06-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-07-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-08-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-09-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-10-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-11-01
factor B/M
factor MARKET_CAP
factor CMV
time 2011-12-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-01-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-02-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-03-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-04-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-05-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-06-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-07-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-08-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-09-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-10-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-11-01
factor B/M
factor MARKET_CAP
factor CMV
time 2012-12-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-01-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-02-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-03-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-04-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-05-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-06-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-07-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-08-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-09-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-10-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-11-01
factor B/M
factor MARKET_CAP
factor CMV
time 2013-12-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-01-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-02-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-03-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-04-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-05-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-06-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-07-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-08-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-09-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-10-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-11-01
factor B/M
factor MARKET_CAP
factor CMV
time 2014-12-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-01-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-02-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-03-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-04-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-05-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-06-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-07-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-08-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-09-01
factor B/M
factor MARKET_CAP
factor CMV
time 2015-10-01
factor B/M
factor B/M
factor MARKET_CAP
factor CMV
time 2015-12-01
factor B/M
factor MARKET_CAP
factor CMV

In [11]:
14//12

1

The 'try' block lets you test a block of code for errors.

The 'except' block lets you handle the error.

In [13]:
# x is not defined
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

In [12]:
print(x)

NameError: name 'x' is not defined

In [14]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [37]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [15]:
factors = ['B/M','MARKET_CAP', 'CMV']

#因为研究模块取fundmental数据默认date为研究日期的前一天。所以要自备时间序列。按月取
year = ['2009','2010']
month = ['01','02','03','04','05','06','07','08','09','10','11','12']
result = {}
#dateind = []

for i in range(len(year)*len(month)):
    startdate = year[i//12] + '-' + month[i%12] + '-01'
    try:
        enddate = year[(i+1)//12] + '-' + month[(i+1)%12] + '-01'
    except IndexError:
        enddate = '2011-01-01'
    try:
        nextdate = year[(i+2)//12] + '-' + month[(i+2)%12] + '-01'
    except IndexError:
        if enddate == '2011-01-01':
            nextdate = '2011-02-01'
        else:
            nextdate = '2011-01-01'
    # %s,表示格化式一个对象为字符，将值插入到%s占位符的字符串中。%字符：标记转换说明符的开始。
    #在%的左侧放置一个字符串（格式化字符串），而右侧则放置希望格式化的值。        
    print('time %s'%startdate)
    fdf = get_factors(startdate,factors)
    CMV = fdf['CMV']
    #5个组合，一个benchmark, 3个因子
    df = pd.DataFrame(np.zeros(6*len(factors)).reshape(6,len(factors)),\
                   index = ['port1','port2','port3','port4','port5','benchmark'],\
                   columns = factors)
    for fac in factors:
        score = fdf[fac].sort_values()
        len_5 = int(len(score)/5)
        port1 = list(score.index)[: len_5]
        port2 = list(score.index)[ len_5: 2*len_5]
        port3 = list(score.index)[ 2*len_5: -2*len_5]
        port4 = list(score.index)[ -2*len_5: -len_5]
        port5 = list(score.index)[ -len_5: ]
        df.loc['port1',fac] = caculate_port_return(port1,startdate,enddate,nextdate,CMV)
        df.loc['port2',fac] = caculate_port_return(port2,startdate,enddate,nextdate,CMV)
        df.loc['port3',fac] = caculate_port_return(port3,startdate,enddate,nextdate,CMV)
        df.loc['port4',fac] = caculate_port_return(port4,startdate,enddate,nextdate,CMV)
        df.loc['port5',fac] = caculate_port_return(port5,startdate,enddate,nextdate,CMV)
        df.loc['benchmark',fac] = caculate_benchmark_return(['000001.XSHG'],startdate,\
                                                            enddate,nextdate)
        print('factor %s'%fac)
    result[startdate] = df

time 2009-01-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-02-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-03-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-04-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-05-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-06-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-07-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-08-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-09-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-10-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-11-01
factor B/M
factor MARKET_CAP
factor CMV
time 2009-12-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-01-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-02-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-03-01
factor B/M
factor MARKET_CAP
factor MARKET_CAP
factor CMV
time 2010-05-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-06-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-07-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-08-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-09-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-10-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-11-01
factor B/M
factor MARKET_CAP
factor CMV
time 2010-12-01
factor B/M
factor MARKET_CAP
factor CMV

In [16]:
result

{'2009-01-01':                 B/M  MARKET_CAP       CMV
 port1      0.039124    0.046456  0.047465
 port2      0.041022    0.054009  0.052614
 port3      0.052947    0.056120  0.040766
 port4      0.038200    0.056400  0.046542
 port5      0.057812    0.054762  0.055300
 benchmark  0.069633    0.069633  0.069633,
 '2009-02-01':                 B/M  MARKET_CAP       CMV
 port1      0.028673    0.041435  0.033686
 port2      0.009645    0.028787  0.027942
 port3      0.015562    0.033632  0.033435
 port4      0.022094    0.031442  0.029802
 port5      0.026895    0.011912  0.015857
 benchmark  0.040648    0.040648  0.040648,
 '2009-03-01':                 B/M  MARKET_CAP       CMV
 port1      0.093686    0.075040  0.078816
 port2      0.077238    0.078304  0.084600
 port3      0.066776    0.064671  0.078915
 port4      0.074310    0.072289  0.069646
 port5      0.073496    0.071329  0.060857
 benchmark  0.150264    0.150264  0.150264,
 '2009-04-01':                 B/M  MARKET_CAP       CMV
 port1      0.017902    0.197060  0.199099
 port2      0.031802    0.040349  0.029968
 port3      0.029463    0.014572  0.037521
 port4      0.039513    0.016804  0.015147
 port5      0.031485    0.040545  0.045904
 benchmark  0.063077    0.063077  0.063077,
 '2009-05-01':                 B/M  MARKET_CAP       CMV
 port1      0.021837    0.038777  0.024599
 port2      0.007534    0.016788  0.026452
 port3      0.025001    0.014100  0.017738
 port4      0.022328    0.005821  0.005977
 port5      0.010493    0.018141  0.005990
 benchmark  0.063037    0.063037  0.063037,
 '2009-06-01':                 B/M  MARKET_CAP       CMV
 port1      0.020820    0.040625  0.051858
 port2      0.025160    0.018668  0.018657
 port3      0.018443    0.014871  0.019232
 port4      0.028820    0.019786  0.034271
 port5      0.024612    0.011897  0.020074
 benchmark  0.105417    0.105417  0.105417,
 '2009-07-01':                 B/M  MARKET_CAP       CMV
 port1      0.037404    0.059045  0.065285
 port2      0.038263    0.041496  0.042574
 port3      0.045077    0.043714  0.064111
 port4      0.055640    0.066098  0.049174
 port5      0.082138    0.057963  0.054529
 benchmark  0.151070    0.151070  0.151070,
 '2009-08-01':                 B/M  MARKET_CAP       CMV
 port1     -0.047656   -0.047893 -0.052363
 port2     -0.065728   -0.057799 -0.056660
 port3     -0.061626   -0.051579 -0.054922
 port4     -0.063284   -0.048000 -0.071989
 port5     -0.053737   -0.068247 -0.064893
 benchmark -0.224939   -0.224939 -0.224939,
 '2009-09-01':                 B/M  MARKET_CAP       CMV
 port1      0.013928    0.031129  0.037376
 port2      0.027055    0.022048  0.020742
 port3      0.024027    0.026252  0.021226
 port4      0.027186    0.030142  0.031873
 port5      0.023681    0.038215  0.026839
 benchmark  0.084957    0.084957  0.084957,
 '2009-10-01':                 B/M  MARKET_CAP       CMV
 port1      0.022962    0.051926  0.034087
 port2      0.027092    0.030039  0.028856
 port3      0.031534    0.027990  0.024620
 port4      0.025605    0.019842  0.023141
 port5      0.025364    0.022557  0.024307
 benchmark  0.056643    0.056643  0.056643,
 '2009-11-01':                 B/M  MARKET_CAP       CMV
 port1      0.034717    0.050138  0.046772
 port2      0.047859    0.066774  0.049944
 port3      0.056776    0.041327  0.043162
 port4      0.049736    0.035466  0.030709
 port5      0.044319    0.038746  0.040051
 benchmark  0.051585    0.051585  0.051585,
 '2009-12-01':                 B/M  MARKET_CAP       CMV
 port1      0.000564    0.002658 -0.011311
 port2      0.018713   -0.002022  0.001987
 port3      0.000886   -0.003227  0.001979
 port4      0.001958   -0.007118  0.006896
 port5     -0.009128   -0.013440 -0.009238
 benchmark  0.002596    0.002596  0.002596,
 '2010-01-01':                 B/M  MARKET_CAP       CMV
 port1     -0.021713   -0.013293 -0.011810
 port2     -0.010454   -0.010991 -0.001112
 port3     -0.019006   -0.027827 -0.005447
 port4     -0.006251   -0.021793 -0.014257
 port5     -0.026741   -0.018328 -0.013775
 benchmark -0.093225   -0.093225 -0.093225,
 '2010-02-01':                 B/M  MARKET_CAP       CMV
 port1      0.031024    0.025013  0.052135
 port2      0.030792    0.035058  0.033082
 port3      0.020376    0.020559  0.027039
 port4      0.024726    0.020471  0.025155
 port5      0.031357    0.016344  0.012502
 benchmark  0.049800    0.049800  0.049800,
 '2010-03-01':                 B/M  MARKET_CAP       CMV
 port1      0.024140    0.024827  0.023448
 port2      0.015403    0.013426  0.018673
 port3      0.009532    0.015522  0.009260
 port4      0.009991    0.002904  0.010506
 port5      0.015257    0.001782  0.014310
 benchmark  0.019295    0.019295  0.019295,
 '2010-04-01':                 B/M  MARKET_CAP       CMV
 port1     -0.018952   -0.035312 -0.035205
 port2     -0.019097   -0.032196 -0.037854
 port3     -0.037127   -0.027274 -0.037171
 port4     -0.029402   -0.032541 -0.011324
 port5     -0.041609   -0.010015 -0.010562
 benchmark -0.099173   -0.099173 -0.099173,
 '2010-05-01':                 B/M  MARKET_CAP       CMV
 port1     -0.026828    0.007792 -0.033851
 port2     -0.021625   -0.011485 -0.028519
 port3     -0.040484   -0.034998 -0.029750
 port4     -0.036599   -0.041947 -0.025292
 port5     -0.013951   -0.031918 -0.032201
 benchmark -0.094171   -0.094171 -0.094171,
 '2010-06-01':                 B/M  MARKET_CAP       CMV
 port1     -0.036520   -0.016481 -0.024651
 port2     -0.027337   -0.025246 -0.021929
 port3     -0.030583   -0.028106 -0.015438
 port4     -0.018749   -0.034168 -0.028455
 port5     -0.019254   -0.025758 -0.023873
 benchmark -0.075728   -0.075728 -0.075728,
 '2010-07-01':                 B/M  MARKET_CAP       CMV
 port1      0.053034    0.054567  0.056999
 port2      0.051045    0.049941  0.049882
 port3      0.058016    0.055336  0.042970
 port4      0.054578    0.051137  0.054244
 port5      0.055830    0.053894  0.042488
 benchmark  0.125845    0.125845  0.125845,
 '2010-08-01':                 B/M  MARKET_CAP       CMV
 port1      0.014711    0.018189  0.018468
 port2      0.015804    0.017963  0.013129
 port3      0.023293    0.006839  0.011901
 port4      0.016879    0.010687  0.013035
 port5     -0.001670    0.001166  0.000352
 benchmark -0.018574   -0.018574 -0.018574,
 '2010-09-01':                 B/M  MARKET_CAP       CMV
 port1      0.010719    0.010426  0.014797
 port2      0.013146    0.020274  0.006526
 port3      0.016364    0.017448  0.017843
 port4      0.019219    0.007894  0.012472
 port5      0.007494    0.036566  0.014416
 benchmark  0.044173    0.044173  0.044173,
 '2010-10-01':                 B/M  MARKET_CAP       CMV
 port1      0.000927    0.013292  0.008516
 port2      0.017066    0.020025  0.013398
 port3      0.047309    0.025815  0.035206
 port4      0.030099    0.022924  0.033863
 port5      0.044141    0.029280  0.021118
 benchmark  0.115119    0.115119  0.115119,
 '2010-11-01':                 B/M  MARKET_CAP       CMV
 port1      0.000698    0.003054  0.018303
 port2     -0.008881    0.004421  0.001827
 port3     -0.006960   -0.011974 -0.016550
 port4     -0.009746   -0.009098 -0.011311
 port5     -0.025757   -0.023504 -0.016862
 benchmark -0.075497   -0.075497 -0.075497,
 '2010-12-01':                 B/M  MARKET_CAP       CMV
 port1     -0.001803    0.005490  0.004778
 port2     -0.007820    0.000472  0.001498
 port3     -0.000271   -0.012847 -0.001083
 port4     -0.005267   -0.009505  0.000988
 port5     -0.001251    0.003305 -0.007823
 benchmark  0.010342    0.010342  0.010342}

In [17]:
monthly_return = pd.concat(result, axis = 0)

In [18]:
monthly_return

                           B/M  MARKET_CAP       CMV
2009-01-01 port1      0.039124    0.046456  0.047465
           port2      0.041022    0.054009  0.052614
           port3      0.052947    0.056120  0.040766
           port4      0.038200    0.056400  0.046542
           port5      0.057812    0.054762  0.055300
           benchmark  0.069633    0.069633  0.069633
2009-02-01 port1      0.028673    0.041435  0.033686
           port2      0.009645    0.028787  0.027942
           port3      0.015562    0.033632  0.033435
           port4      0.022094    0.031442  0.029802
           port5      0.026895    0.011912  0.015857
           benchmark  0.040648    0.040648  0.040648
2009-03-01 port1      0.093686    0.075040  0.078816
           port2      0.077238    0.078304  0.084600
           port3      0.066776    0.064671  0.078915
           port4      0.074310    0.072289  0.069646
           port5      0.073496    0.071329  0.060857
           benchmark  0.150264    0.150264  0.150264
2009-04-01 port1      0.017902    0.197060  0.199099
           port2      0.031802    0.040349  0.029968
           port3      0.029463    0.014572  0.037521
           port4      0.039513    0.016804  0.015147
           port5      0.031485    0.040545  0.045904
           benchmark  0.063077    0.063077  0.063077
2009-05-01 port1      0.021837    0.038777  0.024599
           port2      0.007534    0.016788  0.026452
           port3      0.025001    0.014100  0.017738
           port4      0.022328    0.005821  0.005977
           port5      0.010493    0.018141  0.005990
           benchmark  0.063037    0.063037  0.063037
...                        ...         ...       ...
2010-08-01 port1      0.014711    0.018189  0.018468
           port2      0.015804    0.017963  0.013129
           port3      0.023293    0.006839  0.011901
           port4      0.016879    0.010687  0.013035
           port5     -0.001670    0.001166  0.000352
           benchmark -0.018574   -0.018574 -0.018574
2010-09-01 port1      0.010719    0.010426  0.014797
           port2      0.013146    0.020274  0.006526
           port3      0.016364    0.017448  0.017843
           port4      0.019219    0.007894  0.012472
           port5      0.007494    0.036566  0.014416
           benchmark  0.044173    0.044173  0.044173
2010-10-01 port1      0.000927    0.013292  0.008516
           port2      0.017066    0.020025  0.013398
           port3      0.047309    0.025815  0.035206
           port4      0.030099    0.022924  0.033863
           port5      0.044141    0.029280  0.021118
           benchmark  0.115119    0.115119  0.115119
2010-11-01 port1      0.000698    0.003054  0.018303
           port2     -0.008881    0.004421  0.001827
           port3     -0.006960   -0.011974 -0.016550
           port4     -0.009746   -0.009098 -0.011311
           port5     -0.025757   -0.023504 -0.016862
           benchmark -0.075497   -0.075497 -0.075497
2010-12-01 port1     -0.001803    0.005490  0.004778
           port2     -0.007820    0.000472  0.001498
           port3     -0.000271   -0.012847 -0.001083
           port4     -0.005267   -0.009505  0.000988
           port5     -0.001251    0.003305 -0.007823
           benchmark  0.010342    0.010342  0.010342

[144 rows x 3 columns]

In [19]:
monthly_return.index

MultiIndex(levels=[['2009-01-01', '2009-02-01', '2009-03-01', '2009-04-01', '2009-05-01', '2009-06-01', '2009-07-01', '2009-08-01', '2009-09-01', '2009-10-01', '2009-11-01', '2009-12-01', '2010-01-01', '2010-02-01', '2010-03-01', '2010-04-01', '2010-05-01', '2010-06-01', '2010-07-01', '2010-08-01', '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01'], ['port1', 'port2', 'port3', 'port4', 'port5', 'benchmark']],
           labels=[[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23], [0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]])

In [22]:
monthly_return.columns

Index(['B/M', 'MARKET_CAP', 'CMV'], dtype='object')

In [43]:
idx = pd.IndexSlice
return_CMV = monthly_return.loc[idx[:, :], idx['CMV']].unstack()

In [20]:
monthly_return['CMV']

2009-01-01  port1        0.047465
            port2        0.052614
            port3        0.040766
            port4        0.046542
            port5        0.055300
            benchmark    0.069633
2009-02-01  port1        0.033686
            port2        0.027942
            port3        0.033435
            port4        0.029802
            port5        0.015857
            benchmark    0.040648
2009-03-01  port1        0.078816
            port2        0.084600
            port3        0.078915
            port4        0.069646
            port5        0.060857
            benchmark    0.150264
2009-04-01  port1        0.199099
            port2        0.029968
            port3        0.037521
            port4        0.015147
            port5        0.045904
            benchmark    0.063077
2009-05-01  port1        0.024599
            port2        0.026452
            port3        0.017738
            port4        0.005977
            port5        0.005990
            benchmark    0.063037
                           ...
2010-08-01  port1        0.018468
            port2        0.013129
            port3        0.011901
            port4        0.013035
            port5        0.000352
            benchmark   -0.018574
2010-09-01  port1        0.014797
            port2        0.006526
            port3        0.017843
            port4        0.012472
            port5        0.014416
            benchmark    0.044173
2010-10-01  port1        0.008516
            port2        0.013398
            port3        0.035206
            port4        0.033863
            port5        0.021118
            benchmark    0.115119
2010-11-01  port1        0.018303
            port2        0.001827
            port3       -0.016550
            port4       -0.011311
            port5       -0.016862
            benchmark   -0.075497
2010-12-01  port1        0.004778
            port2        0.001498
            port3       -0.001083
            port4        0.000988
            port5       -0.007823
            benchmark    0.010342
Name: CMV, Length: 144, dtype: float64

In [21]:
return_CMV = monthly_return['CMV'].unstack()

In [22]:
return_CMV

               port1     port2    ...         port5  benchmark
2009-01-01  0.047465  0.052614    ...      0.055300   0.069633
2009-02-01  0.033686  0.027942    ...      0.015857   0.040648
2009-03-01  0.078816  0.084600    ...      0.060857   0.150264
2009-04-01  0.199099  0.029968    ...      0.045904   0.063077
2009-05-01  0.024599  0.026452    ...      0.005990   0.063037
2009-06-01  0.051858  0.018657    ...      0.020074   0.105417
2009-07-01  0.065285  0.042574    ...      0.054529   0.151070
2009-08-01 -0.052363 -0.056660    ...     -0.064893  -0.224939
2009-09-01  0.037376  0.020742    ...      0.026839   0.084957
2009-10-01  0.034087  0.028856    ...      0.024307   0.056643
2009-11-01  0.046772  0.049944    ...      0.040051   0.051585
2009-12-01 -0.011311  0.001987    ...     -0.009238   0.002596
2010-01-01 -0.011810 -0.001112    ...     -0.013775  -0.093225
2010-02-01  0.052135  0.033082    ...      0.012502   0.049800
2010-03-01  0.023448  0.018673    ...      0.014310   0.019295
2010-04-01 -0.035205 -0.037854    ...     -0.010562  -0.099173
2010-05-01 -0.033851 -0.028519    ...     -0.032201  -0.094171
2010-06-01 -0.024651 -0.021929    ...     -0.023873  -0.075728
2010-07-01  0.056999  0.049882    ...      0.042488   0.125845
2010-08-01  0.018468  0.013129    ...      0.000352  -0.018574
2010-09-01  0.014797  0.006526    ...      0.014416   0.044173
2010-10-01  0.008516  0.013398    ...      0.021118   0.115119
2010-11-01  0.018303  0.001827    ...     -0.016862  -0.075497
2010-12-01  0.004778  0.001498    ...     -0.007823   0.010342

[24 rows x 6 columns]

In [49]:
(return_CMV+1).cumprod()

               port1     port2    ...         port5  benchmark
2009-01-01  1.047465  1.052614    ...      1.055300   1.069633
2009-02-01  1.082750  1.082026    ...      1.072034   1.113111
2009-03-01  1.168089  1.173566    ...      1.137275   1.280371
2009-04-01  1.400654  1.208736    ...      1.189481   1.361133
2009-05-01  1.435108  1.240709    ...      1.196606   1.446935
2009-06-01  1.509530  1.263857    ...      1.220627   1.599467
2009-07-01  1.608080  1.317665    ...      1.287186   1.841098
2009-08-01  1.523876  1.243007    ...      1.203656   1.426964
2009-09-01  1.580832  1.268789    ...      1.235962   1.548194
2009-10-01  1.634717  1.305401    ...      1.266004   1.635889
2009-11-01  1.711177  1.370598    ...      1.316709   1.720277
2009-12-01  1.691822  1.373321    ...      1.304546   1.724744
2010-01-01  1.671841  1.371795    ...      1.286575   1.563954
2010-02-01  1.759003  1.417176    ...      1.302660   1.641839
2010-03-01  1.800248  1.443638    ...      1.321301   1.673519
2010-04-01  1.736870  1.388991    ...      1.307345   1.507550
2010-05-01  1.678076  1.349378    ...      1.265247   1.365583
2010-06-01  1.636710  1.319787    ...      1.235041   1.262171
2010-07-01  1.730001  1.385621    ...      1.287516   1.421009
2010-08-01  1.761951  1.403814    ...      1.287969   1.394615
2010-09-01  1.788022  1.412974    ...      1.306536   1.456219
2010-10-01  1.803249  1.431906    ...      1.334127   1.623857
2010-11-01  1.836255  1.434522    ...      1.311631   1.501260
2010-12-01  1.845029  1.436670    ...      1.301370   1.516786

[24 rows x 6 columns]